<!doctype html>
<html>
<head>
  {% include header_title.html %}
</head>
<body style="background-image:url(/public/img/leaf.gif); background-position:center; background-repeat:repeat-y">
  <bgsound src="/public/img/background.mp3">
  <EMBED src="/public/img/background.mp3" autostart="true" loop="true" hidden="true">
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>
